<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul id="listOfProduct">
    </ul>
    <script>
    var xhttp;
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            myFunction(this);
        }
    };
    xhttp.open("GET", "http://localhost:3000/data", true);
    xhttp.send();

    function myFunction(xml) {
        var listOfChildNodes, indexOfNode, nameOfProduct,nameOfImageProduct,priceOfProduct,xmlDoc; 
        
        xmlDoc = xml.responseXML;
        listOfChildNodes = xmlDoc.getElementsByTagName('Mat_hang');

        for (indexOfNode = 0; indexOfNode < listOfChildNodes.length; indexOfNode++) { 
            nameOfProduct = "";
            nameOfImageProduct = "/Media/";
            priceOfProduct = 0;
            
            nameOfProduct       = listOfChildNodes[indexOfNode].getAttribute('Ten');
            nameOfImageProduct += listOfChildNodes[indexOfNode].getAttribute('Ma_so') + ".png";
            priceOfProduct      = listOfChildNodes[indexOfNode].getAttribute('Don_gia_Ban');
            
            console.log(nameOfProduct);
            console.log(nameOfImageProduct);
            console.log(priceOfProduct);

            var Node = document.createElement("li");
            var textOfNode = document.createElement("p");
            textOfNode.innerHTML = nameOfProduct;
            textOfNode.setAttribute("id","productName");

            var imageOfNode = document.createElement("img");
            imageOfNode.setAttribute("id","producImage");
            imageOfNode.setAttribute("src", nameOfImageProduct);
            
            var priceOfNode = document.createElement("p");
            priceOfNode.innerHTML = "price :" + priceOfProduct;
            priceOfNode.setAttribute("id","productPrice")
            
            Node.appendChild(textOfNode);
            Node.appendChild(imageOfNode);
            Node.appendChild(priceOfNode);
            
            document.getElementById("listOfProduct").appendChild(Node);
        }
    }
    </script>
</body>
</html>